p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.proof, #important{
  background-color: rgba(0, 0, 0, .07);
    border-radius: 7px;
    padding: 5px 0 0 7px;
}

:not(:matches(h1, h2, h3, h4, .lemma)) + :matches(.definition, .theorem, .example, .proposition, .lemma) {
  margin-top: 37px;
}

hr {
  height: 1px !important;

}

/* p:not(.definition p, .theorem p, .corollary p, .example p, .remark p, .proof p) {
  margin-top: 37px !important;
} */

:matches(.definition, .theorem, .corollary, .example, .remark, .proof, .proposition, .lemma) + p {
  margin-top: 37px !important;
}

/* div.corollary {
  margin-top: 27.2px;
} */
